@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Source+Sans+Pro&display=swap');

/* GLOBAL */

:root {
    --font-body: "Source Sans Pro", Helvetica, sans-serif;
    --font-headline: Aboreto, "Arial Narrow Bold", sans-serif;
    /* colors */
    --primary-color: #171D1C;
    --secondary-color: #5863F8;
    --accent-1: #16BAC5;
    --accent-2: #EFE9F4;

    /* sizes */
    --font-base: 20px;
    --smaller-font: 0.6em;
    --small-font: 0.8em;
    --large-font: 1.2em;
}

/* GENERAL */

body {
    background-color: #EFE9F480;
    font-size: var(--font-base);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: var(--font-body);
    margin: 0;
    padding: 0;
    min-width: 350px;
}

main {
    width: 300px;
    margin: auto;
    color: var(--primary-color);
    padding: 25px;
}

.search {
    padding: 3px;
}

/* HEADER AND FOOTER */

header, footer {    
    background-color: var(--secondary-color);
    color: var(--accent-2);
    margin: 0;
    padding: 15px;
    text-align: center;
    max-width: 100%;
}

header {
    font-size: var(--large-font);
    font-family: var(--font-headline);
    margin-bottom: 20px;
}

footer {
    font-size: var(--small-font);
    margin-top: auto;
    
}

/* WEATHER */

#weather, #news {
    margin: 0 auto;
    width: 280px;
}

#temperature {
    font-size: 2.5em;
}

#weather-icon {
    height: 100px;
    background-color: #5863F830;
    width: 100px;
    border-radius: 50%;
    border: #171D1C22 1px solid;
    margin-right: 35px;
}

#weather-location {
    width: fit-content;
    font-size: var(--large-font);
    font-family: var(--font-headline);
    position: relative;
    margin-top: -50px;
    top: 45px;
    left: 105px;
}

#unit-selection {
    margin-left: 15px;
}

#weather-location-input {
    width: 100px;
}

/* NEWS */

.news-element {
    margin: 20px 10px;
    padding: 10px;
    background-color: var(--accent-2);
    border: #171D1CAA 1px solid;
    border-radius: 3px;
}

.small-text {
    font-size: var(--smaller-font);
}

#news-navigation {
    margin-bottom: 10px;
}

#news-navigation-input {
    width: 50px;
}

.filter-labels {
    font-size: var(--small-font);
    margin-right: 10px;
}

#news-filters {
    display: none;
}

#show-filters {
    margin-top: 10px;
}

#section-filter {
    width: 120px;
}